.detail {
    width: 60%;
    height: 240px;
    background-color: #efefef;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
    text-align: right;
}

.between {
    width: 70%;
    margin: 3% 0;
}

.detail div p {
    color: #333;
    text-align: right;
    padding: 12px 8px;
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: right;
}

.link a {
    background-color: #fff;
    /* border: 1px solid #333; */
    padding: 0.5rem 1rem;
    color: #333;
    cursor: pointer;
    margin: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.link a:hover {
    background-color: rgb(236, 236, 11);
}
